from invoke import Collection
from invoke import Context
from invoke import task


@task
def unit(c: Context, coverage: bool = False, min_coverage: int = 80) -> None:
    """Run unit tests. They can be executed with coverage.
    They will fail if they don't pass a minimum coverage.
    """
    options = (
        f"--cov= plop --cov-report=term-missing --cov-report=xml --cov-fail-under={min_coverage}" if coverage else ""
    )
    c.run(f"pytest --junitxml=junit.xml {options} tests/unit", pty=True)


test = Collection("test", unit)
