default_language_version.python = "python{{ python_version }}"

[[repos]]
repo = "https://github.com/pre-commit/pre-commit-hooks"
rev = "v6.0.0"

[[repos.hooks]]
id = "check-builtin-literals"

[[repos.hooks]]
id = "check-added-large-files"

[[repos.hooks]]
id = "check-case-conflict"

[[repos.hooks]]
id = "debug-statements"

[[repos.hooks]]
id = "end-of-file-fixer"

[[repos.hooks]]
id = "trailing-whitespace"

[[repos.hooks]]
id = "check-docstring-first"

[[repos.hooks]]
id = "mixed-line-ending"

[[repos]]
repo = "https://github.com/astral-sh/uv-pre-commit"
rev = "0.12.5"

[[repos.hooks]]
id = "uv-lock"

[[repos]]
repo = "https://github.com/pre-commit/mirrors-mypy"
rev = "v2.3.1"

[[repos.hooks]]
id = "mypy"

[[repos]]
repo = "https://github.com/astral-sh/ruff-pre-commit"
rev = "v0.16.4"

[[repos.hooks]]
id = "ruff-format"

[[repos.hooks]]
id = "ruff-check"
args = ["--fix", "--exit-non-zero-on-fix"]

[[repos]]
repo = "https://github.com/DavidAnson/markdownlint-cli2"
rev = "v0.23.2"

[[repos.hooks]]
id = "markdownlint-cli2"
args = ["--fix"]
exclude = "^CHANGELOG"
