import pytest


def test_import() -> None:
    try:
        import {{ python_package_import_name }}  # noqa: F401, PLC0415
    except ImportError as err:
        pytest.fail(f"Failed to import {{ python_package_import_name }}: {err}")


def test_import_version() -> None:
    try:
        from {{ python_package_import_name }} import __version__  # noqa: F401, PLC0415

        assert __version__ == "0.0.1"
    except ImportError as err:
        pytest.fail(f"Failed to import {{ python_package_import_name }}: {err}")
